{% load static %}
<html>
    <head>
        <title>Internet Atzipen kontrola</title>
        <link rel="stylesheet" href="{% static 'groupaccess/css/bootstrap.css' %}">

<div class="float-right">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
</div>

    </head>
    <body>
    <div class="page-header">
        <h1><img src="{% static "groupaccess/images/logo.png" %}" alt="Logo" /></h1>
        <h1>Internet Atzipen kontrola</h1>
  </ul>
    </div>
    <div class="content container">
        <div>
            <div>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
